
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 0px 5px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding: 7px 12px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}












.content-container {
    display: flex;
    justify-content: center;
}

.flex-container {
    margin: 30px 30px;
    flex-basis: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-container {
    width: 100%;
    background-color: #243C6E;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-box {
    margin: auto 10px;
    height: 3px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.search-box>i {
    font-size: 20px;
    color: #243C6E;
}

.search-box>input {
    flex: 1;
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links>a {
    text-decoration: none;
    color: white;
    margin: 0px 5px;
}

.links>a:hover {
    font-weight: bold;
}

.page-detail {
    background-color: #F2C94C;
    width: 100%;
}

.page-content {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-content-left {
    flex-basis: 30%;
}
.page-content-left>h1 {
    color: #243C6E;
}
.page-content-left>fa-map-marker-alt::before {
    margin-right: 5px;
    font-size: 16px;
}
.page-content-left>i::before {
    margin-right: 5px;
    font-size: 16px;
}
.page-content-left>i {
    color: #4F4F4F;
    margin-right: 5px;
}
.page-content-right {
    position: relative;
    padding-left: 20px;
    flex-basis: 30%;
}

.building {
    margin-bottom: -4px;
}

img.building-img {
    position: absolute;
    margin-bottom: -4.5px;
    width: 382px;
    top: 11px;
    left: 28px;
}

img.building-back {
    position: relative;
}

img.circle-img {
    position: absolute;
    top: 10px;
    right: 310px;
}

.logo-section {
    display: grid;
    justify-items: end;
}


.contact-info {
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
}

.contact-info>i {
    margin: 25px 0px;
    color: #4F4F4F;
    margin-right: 5px;
    font-size: 20px;
}

.contact-info>i.fas.fa-map-marker-alt::before {
    padding: 12px 14px;
}

.contact-info>i::before {
    background-color: #4F4F4F;
    color: #fff;
    margin-right: 5px;
    padding: 12px;
    border-radius: 24px;
}

.container-item {
    border-radius: 20px;
    flex-basis: 33%;
    margin-right: 12px;
    padding: 50px;
    box-shadow: 0px 0px 35px #2a27271f;
}

.container-item-map {
    background-color: lightgray;
    border-radius: 20px;
    border: none;
    flex-basis: 53%;
    margin-left: 12px;
}

.container-item-map>iframe {
    border-radius: 20px;
    width: 100%;
}

.social-link {
    display: flex;
    justify-content: flex-start;
}

.social-link>a>i {
    margin: 15px 0px;
    color: #ffffff;
    margin-right: 20px;
    background-color: #4f4f4f;
    padding: 15px;
    border-radius: 24px;
}

.social-link>a>i.fab.fa-facebook-f {
    padding: 15px 18px;
    background-color: #2D9CDB;
}

.social-link>a>i.fab.fa-linkedin-in {
    background-color: #007AB9;
}

.social-link>a>i.fab.fa-twitter {
    background-color: #55ACEE;
}

.main-details {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 1px 4px 26px grey;
}

.main-content-left {
    flex-basis: 66%;
    background-color: red;
}

.main-content-right {
    margin: 40px 0px;
    flex-basis: 26%;
    padding: 40px 30px 30px 0px;
    color: #808080;
}

.main-details>.title {
    font-size: 40px;
    font-weight: bold;
    color: #808080;
    margin: 0px;
    text-align: center;
}

.title>span {
    color: #133D6B;
}

.title-des {
    color: #808080;
    font-size: 18px;
    text-align: center;
}

i.fas.fa-map-marked-alt {
    font-size: 75px;
    color: #ffffff;
    background-color: #013A6D;
    padding: 15px;
    border-radius: 12px;
}

.main-contact-info>.location {
    display: flex;
    margin: 8px 0px;
}

.main-contact-info>.location>i {
    margin-top: 20px;
    margin-right: 5px;
}

.main-contact-info>.location>p {
    font-weight: bold;
}

.main-contact-info>.location>i::before {
    padding: 10px;
    background-color: #808080;
    color: #ffffff;
    border-radius: 20px;
}

.branch-content {
    box-shadow: 1px 0px 5px grey;
    margin: 40px 0px;
    width: 27%;
    padding: 40px 30px;
    color: #808080;
    border-radius: 12px;
}

/* .branch-contact-info>i {
    margin: 17px 12px 12px 0px;
    display: flex;
}

.branch-contact-info>i>span {
    margin: 12px 12px 12px 0px;
    display: flex;
    height: 0px;
}

.branch-contact-info>i::before {
    margin-right: 12px;
    padding: 15px;
    background-color: #808080;
    color: #ffffff;
    border-radius: 24px;
    margin-top: 5px;
} */

.branch-contact-info {
    margin-top: 15px;
}

.location {
    display: flex;
    margin: -15px 0px;
}

.location>i {
    margin-top: 20px;
    margin-right: 5px;
}

.location>p {
    font-weight: bold;
}

.location>i::before {
    padding: 10px;
    background-color: #808080;
    color: #ffffff;
    border-radius: 20px;
}

.branch-content>i.fas.fa-map-marked-alt {
    font-size: 75px;
    color: #ffffff;
    background-color: #27AE60;
    padding: 15px;
    border-radius: 12px;
}

.message {
    margin-bottom: 135px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
}

.message-image {
    flex-basis: 35%;
}

.message-image>img {
    width: 100%;
    height: 100%;
}

.message-from {
    flex-basis: 58%;
    padding: 30px 30px 30px 0px;
}

.message-from>form>input {
    width: 100%;
    height: 25px;
    margin: 12px 0px;
}

.message-from>form>label {}

.message-from>form>textarea {
    width: 100%;
    resize: none;
    height: 50px;
}

.message-from>form>button {
    width: 100px;
    border: none;
    height: 50px;
    background-color: #E0E0E0;
    color: #243C6E;
    font-weight: bold;
}

.learning-today {
    background-color: #243C6E;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 12px 0px;
    text-align: center;
}

.learning-today>h1 {
    text-transform: uppercase;
}

.learning-today>p {
    margin: 0px;
    margin-bottom: 15px;
}

.footer-des {
    width: 100%;
}

.footer-link {
    display: flex;
    flex-wrap: wrap;
}

.footer-link>div>p {
    font-size: 18px;
    color: #243C6E;
    font-weight: bold;
}

.footer-link>div>a {
    margin: 3px 0px;
    display: flex;
    text-decoration: none;
    color: #243C6E;
    font-weight: bold;
}

.footer-link>div>a:hover {
    text-decoration: underline;
}

.footer-link>div {
    flex-basis: 33.3%;
}

.footer-des>p {
    font-size: 18px;
    color: #243C6E;
}

.pay-social {
    display: flex;
    color: #243C6E;
}

.payroll {
    width: 66.6%;
}

.footer-social-link {
    width: 33.3%;
}

.footer-social-link>a>i {
    margin: 5px 0px;
    color: #ffffff;
    margin-right: 5px;
    background-color: #4f4f4f;
    padding: 15px;
    border-radius: 24px;
}

.footer-social-link>a>i.fab.fa-facebook-f {
    padding: 15px 18px;
    background-color: #2D9CDB;
}

.footer-social-link>a>i.fab.fa-linkedin-in {
    background-color: #007AB9;
}

.footer-social-link>a>i.fab.fa-twitter {
    background-color: #55ACEE;
}

.footer-bottom {
    padding: 5px 30px;
    display: flex;
    background-color: #243C6E;
    justify-content: space-between;
}

.footer-bottom>p {
    color: #ffffff;
}

.footer-flex-container {
    padding: 30px 30px;
    flex-basis: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-image: url("../img/Rectangle1263.png");
    background-repeat: no-repeat, repeat;
    background-size: auto;
    height: 190px;
    border-radius: 20px;
}

.news-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.news-left {
    flex-basis: 30%;
    position: relative;
}

.news-right {
    padding-right: 20px;
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-left>img {
    position: absolute;
    left: 23px;
    top: -230px;
}

/*Extra large Device*/

@media (min-width: 1440px) {
    img.circle-img {
        position: absolute;
        top: 10px;
        left: 0px;
    }
}

/*large Device*/

@media (min-width: 992px) and (max-width: 1199px) {

    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        height: 100vh;
        background-color: #243C6E;
        top: 65px;
        right: -170px;
        height: 196px; 
        text-align: left;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin-right: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        margin-left: -30px;
    }
    #check:checked ~ ul{
        right: 50px;
        z-index: 1;
         /* width: 263px;  */
    /* text-align: center; */
        /* height: 196px; */
        top: 65px;
    }

    .branch-content {
        width: 26%;
    }
    .page-content-left {
        flex-basis: 30%;
    }
    .page-content-right {
        position: relative;
        padding-left: 20px;
        flex-basis: 30%;
    }
}

/*Medium Device*/

@media (min-width: 768px) and (max-width: 991px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        height: 100vh;
        background-color: #243C6E;
        top: 65px;
        right: -170px;
        height: 196px; 
        text-align: left;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin-right: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        margin-left: -30px;
    }
    #check:checked ~ ul{
        right: 50px;
        z-index: 1;
         /* width: 263px;  */
    /* text-align: center; */
        /* height: 196px; */
        top: 65px;
    }











    .container-item {
        flex-basis: 33%;
        margin: 0px;
        padding: 25px;
    }
    .container-item-map {
        flex-basis: 51%;
        margin: 0px;
    }
    .branch-content {
        width: 24%;
    }
    .page-content-left {
        margin-right: 15px;
    }
    .page-content-right {
        margin-left: 15px;
        position: relative;
    }
}

/* Small Device*/

@media (min-width: 576px) and (max-width: 767px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        height: 100vh;
        background-color: #243C6E;
        top: 65px;
        right: -170px;
        height: 196px; 
        text-align: left;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin-right: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        margin-left: -30px;
        font-size: 20px;
    }
    #check:checked ~ ul{
        right: 50px;
        z-index: 1;
         /* width: 263px;  */
    /* text-align: center; */
        /* height: 196px; */
        top: 65px;
    }
    .search-box {
        display: none;
    }











    .news-right {
        padding-right: 10px;
        flex-basis: 51%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page-content-left {
        flex-basis: 30%;
        margin-right: 20px;
    }
    .page-content-right {
        margin-left: 20px;
        position: relative;
        flex-basis: 30%;
    }
    .flex-container {
        margin: 0px 20px;
    }
    .contact>h2 {
        font-size: 22px;
    }
    .contact-info>i {
        margin: 25px 0px;
        color: #4F4F4F;
        margin-right: 5px;
        font-size: 14px;
    }
    .container-item {
        flex-basis: 33%;
        margin: 0px;
        padding: 20px;
    }
    .container-item-map {
        flex-basis: 51%;
        margin: 0px;
    }
    .branch-content {
        width: 20%;
    }
    .branch-content>h1 {
        font-size: 18px;
    }
    .branch-content>i.fas.fa-map-marked-alt {
        font-size: 60px;
    }
    .location>i {
        margin-top: 20px;
        margin-right: 5px;
        font-size: 9px;
    }
    .location>p {
        font-size: 12px;
    }
    .learning-today {
        margin-top: 20px;
    }
    .newsletter {
        margin-top: 80px;
    }
}

/*Mobile Device*/

@media (min-width: 221px) and (max-width: 575px) {
    nav ul {
        float: right;
        margin-left: -52px;
        padding-right: 94px;
    }
    .search-box {
        display: none;
    }
    img.building-img {
        margin-bottom: -4.5px;
        flex-basis: 350px;
    }
    img.circle-img {
        position: absolute;
        top: 10px;
        right: 310px;
    }
    .container-item {
        flex-basis: 100%;
        padding: 20px;
        margin: 10px 0px;
        border: 1px solid rgb(212, 212, 212);
    }
    .flex-container {
        width: 100%;
    }
    .contact>h2 {
        font-size: 24px;
    }
    .contact-info>i {
        font-size: 16px;
    }
    .container-item-map {
        flex-basis: 100%;
        margin: 10px 0px;
    }
    .branch-content {
        margin: 10px 0px;
        width: 100%;
    }
    .branch-content {
        width: 100%;
    }
    .main-content-left {
        flex-basis: 100%;
    }
    .main-content-right {
        flex-basis: 100%;
        padding: 30px;
    }
    .message-from {
        margin-bottom: 25px;
        flex-basis: 100%;
        padding: 0px 5px;
    }
    .message-image {
        flex-basis: 100%;
        margin-bottom: 100px;
    }
    .footer-link>div {
        flex-basis: 50%;
    }
    .pay-social {
        display: flex;
        flex-direction: column;
    }
    .footer-social-link {
        width: 100%;
    }
    .main-content {
        margin: -18px 0px;
    }
    .news-left {
        flex-basis: 100%;
        position: relative;
    }
    .news-right {
        padding-right: 20px;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news-left>img {
        position: absolute;
        top: -330px;
    }
}

/* Extream small screen */

@media (min-width: 221px) {
    .content-container {
        margin: 0px 5px;
    }
}